parameters:
	excludePaths:
		- */vendor/*
		- */node_modules/*
		- */tests/*
		- */temp/*
	level:
		1
	paths:
		- class
		- app
	ignoreErrors:
		- '#Parameter .* of method .* has invalid typehint type .*#'
		- '#no value type specified in iterable type array#'
		- '#Nette#'
		- '#unknown class#'
		- '#distinct#'
	reportUnmatchedIgnoredErrors:
		false