{block content}
<style>
    body {
        font-family: Verdana, Geneva, sans-serif;
        line-height: 2;
        max-width: 600px;
        margin: auto;
    }
</style>

<section>
    <div><a target="_blank" href="animal-facts?animal=cat">animal-facts</a></div>
    <div><a target="_blank" href="animal-facts/random?animal=cat">animal-facts/random</a></div>
    <div><a target="_blank" href="chuck-norris-jokes">chuck-norris-jokes</a></div>
    <div><a target="_blank" href="chuck-norris-jokes/random">chuck-norris-jokes/random</a></div>
    <div><a target="_blank" href="cities?zip=25162">cities</a></div>
    <div><a target="_blank" href="counties?zip=25162">counties</a></div>
    <div><a target="_blank" href="daily-quotes?category=sports">daily-quotes?category=sports</a></div>
    <div><a target="_blank" href="daily-quotes/random">daily-quotes/random</a></div>
    <div><a target="_blank" href="daily-quotes/authors">daily-quotes/authors</a></div>
    <div><a target="_blank" href="daily-quotes/categories">daily-quotes/categories</a></div>
    <div><a target="_blank" href="moon/phase">moon/phase</a></div>
    <div><a target="_blank" href="countries?country=France">countries?country=France</a></div>
    <div><a target="_blank" href="postal-codes?city=Kladno">postal-codes?city=Kladno</a></div>
    <div><a target="_blank" href="postal-codes/validate/25162">postal-codes/validate/25162</a></div>
    <div><a target="_blank" href="regions?zip=25162">regions?zip=25162</a></div>
    <div><a target="_blank" href="words/vowel-count?string=testingonastring">words/vowel-count?string=testingonastring</a></div>
    <div><a target="_blank" href="validations/email/petr.svoboda@ipsos.com">validations/email/petr.svoboda@ipsos.com</a></div>
    <div><a target="_blank" href="validations/company-number/45677856">validations/company-number/45677856</a></div>
    <div><a target="_blank" href="validations/birth-number/8708050791">validations/birth-number/8708050791</a></div>
    <div><a target="_blank" href="math/unique-letters?string=trytofinduniqueletters">math/unique-letters</a></div>
    <div><a target="_blank" href="math/vowel-counter?string=trytofinduniqueletters">math/vowel-counter?</a></div>
    <div><a target="_blank" href="math/average-word-length?string=now%2C+try+to+find+unique+letters.+if+you+dare">math/average-word-length</a></div>
    <div><a target="_blank" href="math/get-multiples?number=4&count=5">math/get-multiples?number=4&count=5</a></div>
    <div><a target="_blank" href="math/is-prime-number?number=5">math/is-prime-number?number=5</a></div>
    <div><a target="_blank" href="math/roman-number-to-integer?roman=MCMLXXVIII">math/roman-number-to-integer?roman=MCMLXXVIII</a></div>
    <div><a target="_blank" href="math/prime-numbers?count=5&from=4">math/prime-numbers?count=5&from=4</a></div>
    <div><a target="_blank" href="math/fizzbuzz?number=20">math/fizzbuzz?number=20</a></div>
    <div><a target="_blank" href="math/fibonacci-sequence?count=20">math/fibonacci-sequence?count=20</a></div>
    <div><a target="_blank" href="math/fibonacci-value?number=20">math/fibonacci-value?number=20</a></div>
    <div><a target="_blank" href="math/sum?numbers=1,5,7,11,8,52,3&settings=even">math/sum?numbers=1,5,7,11,8,52,3&settings=even</a></div>
    <div><a target="_blank" href="math/factors?number=12">math/factors?number=12</a></div>
    <div><a target="_blank" href="math/palindrome-check?word=lolipop">math/palindrome-check?word=lolipop</a></div>
    <div><a target="_blank" href="lorem-ipsum/dummy-data?type=city">lorem-ipsum/dummy-data?type=city</a></div>
    <div><a target="_blank" href="lorem-ipsum?limit=500">lorem-ipsum?limit=500</a></div>
    <div><a target="_blank" href="leet-code?text=test,text,to,turn,to,leet">leet-code?text=test,text,to,turn,to,leet</a></div>
    <div><a target="_blank" href="partners-dice">PartnersDice</a></div>
    {*<div><a href='convert/json-to-xml?json={"status":1,"message":"ok","itemsFound":6,"itemsCount":1,"data":{"25162":"Žernovka"}}'>convert/json-to-xml</a></div>*}
</section>

{*SWAGGER*}
{*<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui.css" />*}

{*<div id="swagger-ui"></div>*}

{*<script src="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui-bundle.js" crossorigin></script>*}

{*<script>*}
{*  window.onload = () => {*}
{*    window.ui = SwaggerUIBundle({*}
{*      url: location.href + '/js/swagger.json',*}
{*      dom_id: '#swagger-ui',*}
{*    });*}
{*  };*}
{*</script>*}
